In [138]:
%%writefile streamlit_1.py
# app.
import streamlit as st
import pandas as pd
import pymysql
from sqlalchemy import create_engine

padding = 0
st.set_page_config(page_title="ì „ê¸°ì°¨ ë³´ì¡°ê¸ˆ", layout="wide", page_icon="ğŸ“")

db_connection_str = 'mysql+pymysql://root:1111@localhost/SKN06_6Team'
db_connection = create_engine(db_connection_str)
# db_connection_str = db_connection_str.format(password)  ini íŒŒì¼ ì‚¬ìš©í•  ë°©ë²• ì°¾ì•„ë‚´ê¸°

## SQL ì‹¤í–‰ í•¨ìˆ˜
def read_df(query):
    df = pd.read_sql_query(query, db_connection)
    return df

## SelectBox í•¨ìˆ˜
# ë°ì´í„°ë² ì´ìŠ¤ì—ì„œ ì‹œë„ ëª©ë¡ ê°€ì ¸ì˜¤ê¸°
def get_state_names():
    query = 'SELECT DISTINCT state FROM city'
    df = pd.read_sql_query(query, db_connection)
    return df

# ë°ì´í„°ë² ì´ìŠ¤ì—ì„œ ì§€ì—­êµ¬ë¶„ ëª©ë¡ ê°€ì ¸ì˜¤ê¸°
def get_city_names():
    query = 'SELECT DISTINCT city_name FROM city'
    df = pd.read_sql_query(query, db_connection)
    return df

# ë°ì´í„°ë² ì´ìŠ¤ì—ì„œ ì°¨ëŸ‰ ì œì¡°ì‚¬ ëª©ë¡ ê°€ì ¸ì˜¤ê¸°
def get_maker_names():
    query = 'SELECT DISTINCT maker FROM car'
    df = pd.read_sql_query(query, db_connection)
    return df

# ë°ì´í„°ë² ì´ìŠ¤ì—ì„œ ì°¨ëŸ‰ ëª¨ë¸ ëª©ë¡ ê°€ì ¸ì˜¤ê¸°
def get_model_names():
    query = 'SELECT DISTINCT car_name FROM car'
    df = pd.read_sql_query(query, db_connection)
    return df

def get_selected(value):
    return value

## Sidebar
# sidebarì— ì…€ë ‰ë°•ìŠ¤ ë°°ì¹˜
with st.sidebar.form(key='my_form'):
    state_names = get_state_names()
    state = st.selectbox('ì‹œ/ë„ë¥¼ ê³ ë¥´ì„¸ìš”',state_names)  # state

    # if state:
    city_names = get_city_names()
    city = st.selectbox('ì§€ì—­ì„ ê³ ë¥´ì„¸ìš”',city_names)  # city

    maker_names = get_maker_names()
    maker = st.selectbox('íŒë§¤ì‚¬ë¥¼ ê³ ë¥´ì„¸ìš”',maker_names) # brand

    # if maker:
    car_names = get_model_names()
    car = st.selectbox('ëª¨ë¸ì„ ê³ ë¥´ì„¸ìš”',car_names) # model

    pressed = st.form_submit_button("ì¡°íšŒ")



## SQL ì¿¼ë¦¬ ì‘ì„±
# ì…€ë ‰ ë°•ìŠ¤ì˜ ê°’ì— ëŒ€ì‘í•˜ëŠ” SELECTë¬¸ ì‘ì„±
q1 = '''SELECT city.state AS "ì‹œë„",
               city.city_name AS "ì§€ì—­êµ¬ë¶„",
               car.maker AS "íŒë§¤ì‚¬",
               car.car_name AS "ëª¨ë¸",
               car.national_subsidy AS "êµ­ê³ ë³´ì¡°ê¸ˆ",
               subsidy.city_subsidy  AS "ì§€ìì²´ë³´ì¡°ê¸ˆ",
               (car.national_subsidy + subsidy.city_subsidy) AS "ì´ ì§€ì›ê¸ˆ"
        FROM subsidy
             LEFT OUTER JOIN
             car
             ON subsidy.car_id = car.car_id

             LEFT OUTER JOIN
             city
             ON subsidy.city_id = city.city_id
        WHERE city.city_name = "{}" AND car.car_name = "{}"'''
q1 = q1.format(city, car)

# ì…€ë ‰ ë°•ìŠ¤ì˜ ì§€ì—­ì˜ ì—°ë½ì²˜ë¥¼ ì¡°íšŒí•˜ëŠ” SELECTë¬¸ ì‘ì„±
q2 = '''SELECT city_name AS "ì§€ì—­êµ¬ë¶„",
               city_dpt AS "ë¶€ì„œ",
               city_phone AS "ì—°ë½ì²˜"
        FROM city
        WHERE city_name = "{}"'''
q2 = q2.format(city)

# ì…€ë ‰ ë°•ìŠ¤ì˜ ëª¨ë¸ì˜ ì „ ì§€ì—­ ë³´ì¡°ê¸ˆì„ ì¡°íšŒí•˜ëŠ” SELECTë¬¸ ì‘ì„±
q3 = '''SELECT city.state AS "ì‹œë„",
               city.city_name AS "ì§€ì—­êµ¬ë¶„",
               car.national_subsidy AS "êµ­ê³ ë³´ì¡°ê¸ˆ",
               subsidy.city_subsidy  AS "ì§€ìì²´ë³´ì¡°ê¸ˆ",
               (car.national_subsidy + subsidy.city_subsidy) AS "ì´ ì§€ì›ê¸ˆ"
         FROM subsidy
              LEFT OUTER JOIN
              car
              ON subsidy.car_id = car.car_id

              LEFT OUTER JOIN
              city
              ON subsidy.city_id = city.city_id
         WHERE car.car_name = "{}"
         ORDER BY (car.national_subsidy + subsidy.city_subsidy) DESC'''
q3 = q3.format(car)

if pressed:
    sub = read_df(q1)
    st.write(sub)
    phone = read_df(q2)
    st.write(phone)
    total = read_df(q3)
    st.write(total)

Overwriting streamlit_1.py

In [137]:
!python -m streamlit run streamlit_1.py

^C